<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Investment Approved</title>
</head>
<body>
  <div>
    <h1>Congratulations, {{userName}}!</h1>
    <p>Your investment has been approved:</p>
    <ul>
      <li><strong>Investment Plan:</strong> {{plan}}</li>
      <li><strong>Amount:</strong> ${{amount}}</li>
      <li><strong>Start Date:</strong> {{startDate}}</li>
      <li><strong>End Date:</strong> {{endDate}}</li>
      <li><strong>Maturity Amount:</strong> ${{maturityAmount}}</li>
    </ul>
    <p>Thank you for choosing us for your investment journey!</p>
    <a href="https://www.greenwoodsy.com/invest-status">View Investment</a>
  </div>
</body>
</html>
