<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Investment Not Approved</title>
</head>
<body>
  <div>
    <h1>Hello, {{userName}}</h1>
    <p>We regret to inform you that your investment was not approved:</p>
    <ul>
      <li><strong>Investment Plan:</strong> {{plan}}</li>
      <li><strong>Amount:</strong> ${{amount}}</li>
      <li><strong>Start Date:</strong> {{startDate}}</li>
      <li><strong>End Date:</strong> {{endDate}}</li>
      <li><strong>Maturity Amount:</strong> ${{maturityAmount}}</li>
    </ul>
    <p>If you have any questions, feel free to contact us for assistance.</p>
    <a href="https://www.greenwoodsy.com/contact">Contact Support</a>
  </div>
</body>
</html>
